<!doctype html>

<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700|Open+Sans:600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/chbs.css">
    <meta name="viewport" content="width=device-width, minimum-scale=1, user-scalable=no, maximum-scale=1">
    <title>passphrase generator ‹ andyf.me</title>
  </head>

  <body>
      <h1><a href="/">andyf.me</a> › passphrase generator</h1>

      <div id="pp">
        <span id="pp-phrase" title="Click to select."><%= words.join(" ") %></span>
        <span id="pp-length">(<span id="pp-length-output"><%= words.join(" ").length %></span> characters)</span>
      </div>
      <div id="pp-controls">
        <button id="pp-another" title="Get another passphrase.">Another <i>↻</i></button>

        <label for="pp-words">Number of words:</label>
        <select id="pp-words">
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4" selected>4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
      </div>

      <p>Generate a secure but easy-to-remember passphrase using the method
      described in the famous <a href="http://xkcd.com/936/">xkcd comic</a>.</p>

      <p>Words are extracted from the <cite>all.num.o5</cite> list on <a
        href="http://www.kilgarriff.co.uk/bnc-readme.html">this page</a>, using
      the top 20 000 words of 5 letters or more. Server is a Node app; source
      available <a href="https://github.com/caerphoto/chbs-gen">on GitHub</a>.</p>

    <script src="/js/chbs.js"></script>
  </body>

</html>

