img.block {
    display: block;
    margin: 1em auto;
    border: 1px solid rgba( 0, 0, 0, 0.2 );
    box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.1 );
    max-width: 100%;
    height: auto;
}

cite {
    border-bottom: 1px dotted rgba( 0, 0, 0, 0.3 );
}

#pp {
    background: #fff;
    border: 1px solid #ccc;
    padding: 1em;
    padding-right: 2.5em;
    margin: 1em auto;

    text-align: center;
    font-size: 150%;
    font-weight: 300;
    word-spacing: 0.5em;
    line-height: 1;

    position: relative;
}

#pp-phrase {
    text-shadow:
        0 1px 0 #fff,
        0 2px 2px rgba( 0, 0, 0, 0.2 );

    padding: 0.2em 0.5em;
    line-height: 1.5;
}

#pp-phrase:hover {
    background: #def;
}

#pp-another {
    font-size: 75%;
    position: absolute;
    top: 1.15em;
    right: 1em;
}

#pp-length {
    display: block;
    margin-top: 1em;
    font-size: 1rem;
    color: #888;
    word-spacing: 0;
}
